#wrapper{
    display: grid;
    grid-template-areas:
        "foto-1 descripcion-1"
        "descripcion-2 foto-2" ;   
    grid-template-columns:744px 744px;
    grid-template-rows: 514px 514px;
    justify-content: center;
}
.description{
    margin: 0;
    border: solid #1e2022 2px;
    text-align: center;
    justify-content: stretch;
    align-content: stretch;
}
.ph{
    border: solid #1e2022 2px;
    margin-bottom: 0cm;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}
.description-1{
    grid-area: descripcion-1;
}
.description-2{
    grid-area: descripcion-2;
    margin-right: 0;
}
.foto-1{
    grid-area: foto-1;
}
.foto-2{
    grid-area: foto-2;
    margin-right: 0;
}

