/*#1e2022
#f6f4e6
#fddb3a*/

/********CSS ESTILOS********/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
h2{
    color:#f6f4e6 ;
    background: #1e2022;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    text-transform: uppercase;
    }
/********HEADER********/
.header{
    display: grid;
    grid-template-areas: "redes logo compras";
    background-color: #f6f4e6;
    color: #1e2022;
    border: solid #1e2022;
    margin: 0;
    padding: 0.5rem 4rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.header__redes{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__redes--i {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #1e2022;
}
.header__redes--span {
    font-size: 0.75rem;
    color: #1e2022;
}
.header__center{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__shop{
    grid-area: compras;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header__shop--i {
    padding: 0.5rem;
    font-size: 1.5rem;
}
header{
    position: fixed;
    width: 100%;
}
header nav ul{
    display: flex;
    flex-direction:row ;
    background: #1e2022;
    border: solid #f6f4e6 ;
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
    justify-content: center;
    padding: 1.2rem;
}
header nav ul li a{
    text-decoration: none;
    color:#f6f4e6;
}
/********index********/
.boton{
    padding: 1rem;
}
.viewNow{
    background: #1e2022;
    color: #f6f4e6;
    padding-top: 9rem;
}
html,body{
    margin:0;
    height:100%;
}
.inicio img{
  display:block;
  width:100%; height:100%;
  padding-top: 0rem;
}

.container1{
    border:solid #f6f4e6;
    background:#1e2022;
    color: #f6f4e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem;
    margin-bottom: 0rem;
}
.container1 div{
    margin: 2rem;
    text-align: center;
    margin-top: 4rem;
}
.container1 p{
    padding: 0.5rem;
}
/********FOOTER********/
footer{
    background-color:#1e2022 ;
    text-align: center;
    color:#f6f4e6;
    font-size:1.5rem ;
    padding: 0.5rem;
    border: solid #f6f4e6;
    display: flex;
}