.page-consultas{
    @include section;
    padding-top: 7rem;
    .social{
        background: $negro;
        padding: 0.8rem ;
        color: $blanco;
        border-radius: 20px;
        margin-top: 1rem; 
        margin-bottom: 3rem;
        a{
            @include button (75px,1000px,$blanco,$d-amarillo);
            font-size: 2rem;
        }
        a:hover{
            transform: scale(1.2);
        }
    }
    .form-control{
        height: 3rem;
    }
    textarea.form-control {
        height: 8rem;
    }
    button{
        @include button(140px,20px,$blanco,$d-amarillo);
    }
    button:hover{
        transform: scale(1.2); 
    }
}