header{
  background-color: $negro;
  .navbar{
    background-color:$negro;
    img{
      height: 80px;
    }
    .nav-link{
      font-size: 14px;
      text-transform: uppercase;
      padding-right: 16px;
      color: $blanco;
      margin-right: 1rem;
    }
    .navbar-toggler{
      outline: none;
    }
    .dropdown-menu{
      background-color: $negro;
      min-width: 0;
    }
  }
}
header nav ul li a{
  color: $blanco !important;
}
header nav ul li a:hover{
  color: $amarillo !important;
}