header{
  background-color: $negro;
  .navbar{
    background-color:$negro;
    img{
      height: 80px;
    }
    .nav-link{
      font-size: 14px;
      text-transform: uppercase;
      padding-right: 16px;
      color: $blanco;
    }
    .navbar-toggler{
      outline: none;
    }
  }
}

