.container-fluid{
    .row{
        margin-top: 5.5rem;
        margin-bottom: 3rem;
    }
    .col-lg-5 {
        padding-left: 15%;
        h2{
            @include title;
        }
        h3{
            font-size: 30px;
            color: black;
            font-weight: 100;
            margin: 30px 0;
        }
        button{
            @include button(140px,20px,$blanco,$d-amarillo);
        }
        button:hover{
            transform: scale(1.2); 
        }
    }
    .col-lg-7 {
        .masthead{
            padding: 50px;
            img{
                border-radius: 20px;
                width: 110%;
            }
        }
        @media only screen and (min-width:992px){
            .masthead{
                margin-left: 4rem;
                padding: 60px;
                img{
                    width: 60%;
                }
            }
        }
    }
    .color-box{
        @include box(0,100%,80%);
        border-radius: 20px 0 0 20px;
        z-index: -1;
    }
}

.section-index{
    @include section;
    .nyo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1.5rem;
        border-radius: 20px;
        transition: .3s;
        margin-top: 1rem;
        img{
            width: 150px;
        }
        button{
            @include button(140px,20px,$blanco,$d-amarillo);
            margin-bottom: 0.5rem;
        }
        button:hover{
            transform: scale(1.2); 
        }
    }
    .nyo:hover{
        transform: translateY(-.5rem);
    }
    .fa-4x {
        font-size: 4em;
    }
    .service-icon{
        @include icon;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.8rem 1rem;
        .text-primary {
            color: #fed136 !important;
        }
        .fa-stack-1x{
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 25%;
        }
    }
    .fa-stack {
        @include icon;
    }
    .svg-inline--fa.fa-stack-2x {
        @include icon;
    }
    @media only screen and (min-width:992px){
        .carousel{
          width: 80%;
          margin: auto;
        }
        .nyo{
            margin-top: 0;
            img{
                width: 300px;
            }
        }
    }
}


