.container-fluid{
    .row{
        margin-top: 5.5rem;
        margin-bottom: 3rem;
    }
    .col-lg-5 {
        padding-left: 15%;
        h2{
            @include title;
        }
        h3{
            font-size: 30px;
            color: black;
            font-weight: 100;
            margin: 30px 0;
        }
        button{
            @include button(140px,20px,$blanco,$d-amarillo);
        }
        button:hover{
            transform: scale(1.2); 
        }
    }
    .col-lg-7 {
        .masthead{
            padding: 60px;
            margin-left: 4rem;
            img{
                border-radius: 20px;
                width: 60%;
            }
        }
    }
    .color-box{
        @include box(0,100%,80%);
        border-radius: 20px 0 0 20px;
        z-index: -1;
    }
}

.section-index{
    @include section;
    .fa-4x {
        font-size: 4em;
    }
    .service-icon{
        @include icon;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.8rem 1rem;
        .text-primary {
            color: #fed136 !important;
        }
        .fa-stack-1x{
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 25%;
        }
    }
    .fa-stack {
        @include icon;
    }
    .svg-inline--fa.fa-stack-2x {
        @include icon;
    }
    .col-xl-3, .col-6{
        padding: 10px;
        h4{
            border-bottom:solid $gris 1.5px;
            text-transform: capitalize;
            font-weight: 500;
        }
        p{
            color: $gris;
        }
        img{
            width: 100%;
        }
        transition: transform 0.5s;
    }
    .col-xl-3:hover{
        transform: translateY(-10px);
    }
    .rating{
        color: $amarillo;
    }
    .carousel-inner{
        img{
            height: 70%;
        }
    }
}


