/*-----fonts------*/
$font-family1: 'Roboto', sans-serif;
$font-family1: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/*-----colores-----*/
$negro:#212529;
$blanco:#fff;
$amarillo:#fed136;
